#title {
    color:#d77883;
}
#title a {
    text-decoration:none;
    color:#d77883;
}
#title a:visited {text-decoration: none;}

body {
    margin-left: 25%;
    margin-right: 25%;
    background-color: beige;
}
#logo{
    width: 120px;
    height:120px;
    border-radius:50%;
    float: left;
}

.index{
    color:#d77883;
    font-style: italic;
    font-size: small;
}

#user{
    float: left;
    clear: both;
}

#avatar{
    width: 120px;
    height: 120px;
}

#top_part{
}