.to-top {
    display: none;
    padding: 10px 25px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    background-color: #f50;
}

#messages {
    width: 50%;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 25%;
    box-shadow: 3px 4px 10px;
}


/**************用户注册页面*****************/
.signup-input {
    width: 30%;
    /* margin: 0; */
    margin: 0 10px;
    display: initial;
}
.signup-label {
    width: 8%;
    font-size: 18px;
    font-weight: normal;
}
.signup-help-span {
    display: initial;
}
.signup-error-list {
    color: red;
    list-style-type: circle;
}