#avatar{
    width: 50px;
    height: 50px;
    border-radius:50%;
}

#logo{
    width: 60px;
    height:60px;
    border-radius:50%;
    float: left;
    margin:10px;
}

.logo_textAbove{
    float: left;
}

.logo_textAbove a{
    font-size: 30px;
}

.logo_textBelow{
    float: left;
    height: 20px;
    font-size: x-small;
    font-style: italic;
    margin-bottom: 5px;
    margin-left: 13px;
    color: #A8A8A8;
}

.userInfo{
    margin-right: 10px;
    margin-top: 15px;
}

.userInfo span{
    margin-right: 20px;
}

nav form {
    margin-top: 10px;
}
/*.form-group{
    margin-bottom: 5px;
}*/

.articleTypeList{
    margin-top: 10px;
}

/*.glyphicon{
    margin-left: 50px;
}*/

body{
    margin-top: 75px;
    background-color: #DDDDDD;
}

.one-article{
    background-color:#FFFFFF;
    padding: 15px;
    margin-top: 15px;
}

.body-part{
    width: 70%;
    margin-left: 15%;
    font-size: 16px;
}

.mynav{
    background-color:#FFFFFF;
}


/**************文章详情页(article_detail.html)*********************/
#avatar_detail{
    width: 25px;
    height: 25px;
}

.article-box{
    background-color:#FFFFFF;
    padding: 15px;
    margin-top: 30px;
}

.comment-box{
    background-color:#FFFFFF;
    margin-top: 15px;
    padding: 15px;
}

.comment-add{
    margin-top: 30px;
}

/**************基础页面(base.html)*********************/
.to-top {
    display: none;
    padding: 10px 25px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    background-color: #f50;
}

.to-top:hover{
    text-decoration: none;
    color: white;
}



#messages {
    width: 50%;
    text-align: center;
    position: absolute;
    top: 15%;
    left: 25%;
    box-shadow: 3px 4px 10px;
    z-index: 100;
}

#wrapper{
    position: relative;   /*重要！保证footer是相对于wapper位置绝对*/
    height: auto;          /* 保证页面能撑开浏览器高度时显示正常*/
    min-height: 100%  /* IE6不支持，IE6要单独配置*/
}
#footer{
    position: absolute;
    bottom: 0;/* 关键 */
    left:0;/* IE下一定要记得 */
    width: 100%;
    text-align: center;
    background-color: black;
    height: 60px;
    color: white;
}
#main-content{
    padding-bottom: 75px; /*重要！给footer预留的空间*/
    min-height: 800px;
}

/**************用户注册页面(user_signup.html)*****************/
.signup-page {
    margin: 100px auto 0 auto;
    color: white;
}

.signup-page input {
    margin-top: px;
}

.signup-page h1 {
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0 1px 4px rgba(0,0,0,.2);
    text-align: center;
    margin-bottom: 25px;
}

.signup-page button {
    position: absolute;
    right: 14%;
}
.signup-input {
    width: 70%;
    /* margin: 0; */
    margin: 0 10px;
    display: initial;
}
.signup-label {
    width: 15%;
    font-size: 18px;
    font-weight: normal;
}
.signup-help-span {
    display: initial;
}
.signup-error-list {
    color: red;
    list-style-type: circle;
}

/*************用户资料页面(user_info.html)****************/
#tabs {
    border: 1px solid #cbcbcb;
    background-color: #f2f6fb;
    padding: 0;
    position:relative;
    margin-top:300px;
}
#tabs #menu0 {
    list-style:none;
    padding: 0;
}
#tabs .menu0 li {
    display:block;
    float: left;
    padding: 4px 0;
    width:50%;
    text-align: center;
    cursor:pointer;
    background: #FFFFff;
}
#tabs .menu0 li.hover {
    background: #f2f6fb;
}
#tabs .main {
    clear:both;
    padding:8px;
}
#tabs #main0 div {
    display: none;
}
#tabs #main0 div.block {
    display: block;
}

.avatar {
  /* width: 56px; */
  /*height: 90px;*/
  -webkit-border-radius: 100%;
  -webkit-transition: 
  -webkit-transform 0.8s ease-out;
  -moz-transition: 
  -moz-transform 0.8s ease-out;
  -o-transition: 
  -o-transform 0.8s ease-out;
  -ms-transition: 
  -ms-transform 0.8s ease-out;
}
.avatar:hover {
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  -o-transform: rotateZ(360deg);
  -ms-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}

#user-info-top {
    position:relative;
}

#user-info-bg {
    width: 100%;
    height: 280px;
    margin-top: 30px;
    position: absolute;
    z-index: 0;
}

#user-info-detail {
  position:absolute;
  z-index:1;
  width: 80%;
  margin-left: 10%;
  text-align: center;
  color: white;
  margin-top: 60px;
}

#user-info-detail img {
    width: 120px;
    height: 120px;
}

#user-info-username {
    text-shadow: 2px 2px 5px #000;
    font-size: 25px;
    font-weight: bold;
}

#user-info-edit-link {
    position: absolute;
    right: 20px;
    top: 50px;
    z-index:2;
    text-decoration: none;
    color: white;
}

#user-info-edit-link p {
    margin: 0;
}

#user-info-edit-link a {
    text-decoration:none;
}

/**************首页(homepage.html)******************/
.hp-slide {
    width: 100%;
    height: 50%;
}

#hp-container {
    margin-top: 20px;
    margin-bottom: 10px;
}

#hp-container .col-md-3 div{
    text-align: center;
    border: 1px solid white;
    padding: 2px;
}

#hp-container .col-md-3 div a {
    font-size: 25px;    
}

#hp-container .col-md-3 div a:hover {
    text-decoration: none;
    
}

#hp-container div img {
    display: block;
    margin: auto;
    width: 100%;
}


/*********************编辑评论页面（edit_comment.html)***********************/
.comment-edit{
    margin-top: 50px;
}

/**************************编辑文章（new_artilce.html)***********************************/
.article-edit{
    margin-top: 50px;
}

.article-edit input {
    display: initial;
    width: 50%;
    margin-right: 40%;
    /* margin-bottom: 15px; */
}

.article-edit label {
    width: 10%;
    font-size: 20px;
    margin-top: 15px;
}

.article-edit select {
    width: 10%;
    display: initial;
    margin-right: 75%;
}

.article-edit button {
    margin-top: 10px;
}

/***************************编辑用户信息（infoedit.html)*********************************/
.avatar-edit{
    width: 30px;
    height: 30px;
}

.info-edit{
    background-color: #FFFFFF;
    padding: 40px;
    margin-top: 50px;
}

.info-edit h3{
    text-align: center;
}

/*************************修改密码（change_password.html)*************************************/
.change-password{
    background-color: #FFFFFF;
    padding: 40px;
    margin-top: 50px;
}

.change-password h3{
    text-align: center;
}

.change-password input{
    margin-top: 5px;
}

.change-password label{
    margin-top: 10px;
}

.change-password button{
    margin-top: 10px;
}

/******************搜索结果页面(search.html)***************************/
.search-body{
    background-color: #FFFFFF;
    padding: 40px;
    margin-top: 50px;
}
