#avatar{
    width: 50px;
    height: 50px;
    border-radius:50%;
}

#logo{
    width: 60px;
    height:60px;
    border-radius:50%;
    float: left;
    margin:10px;
}

.logo_textAbove{
    float: left;
}

.logo_textAbove a{
    font-size: 30px;
}

.logo_textBelow{
    float: left;
    height: 20px;
    font-size: x-small;
    font-style: italic;
    margin-bottom: 5px;
    margin-left: 13px;
    color: #A8A8A8;
}

.userInfo{
    margin-right: 10px;
    margin-top: 15px;
}

.userInfo span{
    margin-right: 20px;
}

nav form {
    margin-top: 10px;
}
/*.form-group{
    margin-bottom: 5px;
}*/

.articleTypeList{
    margin-top: 10px;
}

/*.glyphicon{
    margin-left: 50px;
}*/

body{
    margin-top: 50px;
    background-color: #DDDDDD;
}

.one-article{
    background-color:#FFFFFF;
}

/*
.page-header{
    width: 70%;
    margin-left: 20%;
}

.no-article{
    width: 70%;
    margin-left: 20%;
}
*/
.body-part{
    width: 70%;
    margin-left: 20%;
}

.mynav{
    background-color:#FFFFFF;
}