{% extends 'misslove/base.html' %}

{% block title %}搜索结果{% endblock %}

{% block content %}

    <div class="search-body">

    <form method="get" action="">
        <table>
            <tr>
                <td>
                    <label for="id_q"></label>
                </td>
                <td>
                    <input class="form-control" id="id_q" name="q" type="search" value="{{ query }}" />
                </td>

                <td>&nbsp;</td>
                <td>
                    <button class="btn btn-defaul" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </td>
            </tr>

        </table>

        {% if query %}
            <h3>搜索结果</h3>

            <table class="table">
            <tr>

                 {% for result in page.object_list %}
                      <td>
                <p>
                    <a href="{% url 'misslove.views.articles.article_detail' article_id=result.object.id %}">
                        {{ result.object.title }}</a>
                </p>
                <p>{{ result.object.text | safe | truncatechars:40 }}</p>
            </td>
            </tr>

            {% empty %}
                <p>没有得到想要的结果哦.</p>
            {% endfor %}
            </table>


            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; 上一页{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}下一页 &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>

    </div>


{% endblock %}