{% extends "misslove/base.html" %}
{% load staticfiles %}

{% block title %}{{ article }}{% endblock %}

{% block content %}
    <div>
    <!--文章内容-->
        <div class="article-box">
               <div>
                   <span id="article-detail-title">{{ article.title }}</span>

                   </div>

               <!--
               <img id="avatar_detail" src="{{ article.author.get_avatar }}" alt="{{ article_author }}" title="{{ article_author }}"/>
                -->
              <div class="article-meta">
            <p>
            <span class="author">
                <img id="avatar_detail" src="{{ article.author.get_avatar }}" alt="{{ article_author }}" title="{{ article_author }}"/>
                <a href="/accounts/info/{{ article.author.id }}">{{ article.author }}</a>
            </span> &bull;
            <time class="post-date" datetime=" {{ article.created_time }}" title=" {{ article.created_time }}"> {{ article.created_time }}</time> &nbsp;
        <span id="article-detail-type">所属板块：<a href="/articles/catalog/{{ article.choose_type }}">{{ article.get_choose_type_display }}</a></span>
            </p>
        </div>

            <div>
            {{ article.text | safe }}
            </div>
            {% if article.image %}
                <img id ="article-detail-img" src="{{ article.image.url }}" alt="{{ article }}" title="{{ article }}"/>
            {% endif %}
            {% if article.author.id == user.id %}
                <div id="article-detail-edit-delete">
                <a href="/articles/edit/{{ article.id }}" data-toggle="tooltip" data-placement="top" title="编辑文章">
                    <span class="glyphicon glyphicon-pencil"></span></a>
                <a href="/articles/delete/{{ article.id }}" data-toggle="tooltip" data-placement="bottom" title="删除文章"><span class="glyphicon glyphicon-trash"></span></a>
                </div>
            {% endif %}
        </div>
    </div>

    <!--文章评论-->
    <h4>评论区</h4>
    <div class="comment-box" id="comment_box">
    {% if comments|length == 0%}
        <p>暂时没有评论哦,赶紧添加吧～</p>
    {% else %}
    {% for comment in comments %}
        <hr/>
        <div id="comment_{{ comment.id }}">
       <!-- <p>#{{ forloop.counter }}</p> -->

            <!--
            <p><a href="/accounts/info/{{ comment.author.id }}">{{ comment.author }}</a>
        {{ comment.comment_time }}</p>
        -->

              <div class="article-meta">
            <p>
            <span class="author">
                <img id="avatar_detail" src="{{ comment.author.get_avatar }}" alt="{{ comment_author }}" title="{{ comment_author }}"/>
                <a href="/accounts/info/{{ comment.author.id }}">{{ comment.author }}</a>
            </span> &bull;
            <time class="post-date" datetime=" {{ comment.comment_time }}" title=" {{ comment.comment_time }}"> {{ comment.comment_time }}</time>
        </p>
        </div>


        <div>{{ comment.content | safe}}</div>

        {% if user.id == article.author.id or user.id == comment.author.id %}
            <div>
            <a href="/comments/edit/{{ comment.id }}" data-toggle="tooltip" data-placement="top" title="编辑评论">
                <span class="glyphicon glyphicon-pencil"></span></a>
            <a href="/comments/delete/{{ comment.id }}" data-toggle="tooltip" data-placement="bottom" title="删除评论">
                <span class="glyphicon glyphicon-trash"></span></a>
            </div>
        {% endif %}
        </div>
    {% endfor %}
    {% endif %}
    </div>

    <div>
    {% if user.is_authenticated %}

        <form class="comment-add" action="/comments/add/{{ article.id }}/" method="POST">
            {% csrf_token %}
            <label for="content">添加评论：</label>
            <textarea rows="6" name="content" placeholder="请在此输入评论"></textarea>
            <input type="submit" name="submit" value="提交" class="btn btn-default"/>
        </form>
    {% else %}
        <div class="comment-login">
        <p>登录才可以评论哦</p>
        </div>

    {% endif %}
    </div>


 <script type="text/javascript">
  if(document.getElementById("comment_box").clientHeight>2000)
  {
      document.getElementById("comment_box").style.height="2000px";
      document.getElementById("comment_box").style.overflowY="scroll";
  }

 </script>

{% endblock %}