{% extends "misslove/base.html" %}

{% block title %}{{ article_type }}{% endblock %}

{% block content %}
    <!--板块名字-->
    <div class="page-header" xmlns="http://www.w3.org/1999/html">
        <h1>
            {{ article_type }}
            {% if article_type == "失恋"%}
                <small>失恋是一首诗</small>
            {% elif article_type == "暗恋" %}
                <small>暗恋是一首诗</small>
            {% elif article_type == "异地恋" %}
                <small>异地恋是一首诗</small>
            {% elif article_type == "爱恋" %}
                <small>爱恋是一首诗</small>
            {% endif %}

        </h1>
    </div>

    <!--本版块没有人发布文章-->
    {% ifequal articles.paginator.count 0%}
        <div class="no-article">
             <p>{{ article_type }}版区现在还没有任何人发帖哦，赶快去发布吧</p>
        </div>
    <!--本板块有人发布文章-->
    {% else %}
        {% for article in articles.object_list %}
            <div class="one-article">
            <h1>{{article.title  }}</h1>

                <div class="article-meta">
                    <span class="author">作者：<a href="/accounts/info/{{ article.author.id }}">{{ article.author }}</a></span> &bull;
                    <time class="post-date" datetime="{{ article.created_time }}" title=" {{ article.created_time }}">{{ article.created_time }}</time>
                </div>

                <div>{{ article.text | safe | truncatechars:200 }}</div>

                <a href="/articles/detail/{{ article.id }}" class="btn btn-default">阅读全文</a>
            </div>
        {% endfor %}
    {% endifequal %}

    {% ifnotequal articles.paginator.num_pages 1 %}

    <nav>
        <ul class="pagination">

        <li {% if not articles.has_previous %}class="disabled"{% endif %}>
            <a {% if articles.has_previous %}href="?page={{ articles.previous_page_number }}"
               {% endif %}
               aria-label="上一页">
            <span aria-hidden="true">&laquo;</span></a>
        </li>

        {% for page_number in articles.paginator.page_range %}
            {% ifequal page_number articles.number %}
                <li class="active">
                    <a href="#">{{ page_number }}<span class="sr-only">(current)</span></a>
                </li>
            {% else %}
                <li><a href="?page={{ page_number }}">{{ page_number }}</a></li>
            {% endifequal %}
        {% endfor %}

        <li {% if not articles.has_next %}class="disabled"{% endif %}>
            <a {% if articles.has_next %}href="?page={{ articles.next_page_number }}"
               {% endif %}aria-label="下一页">
            <span aria-hidden="true">&raquo;</span></a>
        </li>

        </ul>
    </nav>
    {% endifnotequal %}

{% endblock %}