{% extends "misslove/base.html" %}
{% load staticfiles %}

{% block title %}{{ article }}{% endblock %}

{% block content %}
    <div>
    <!--文章内容-->
        <div class="article-box">
            <h2>{{ article.title }}</h2>

           <p>
               <img id="avatar_detail" src="{{ article.author.get_avatar }}" alt="{{ article_author }}" title="{{ article_author }}"/>
               <a href="/accounts/info/{{ article.author.id }}">{{ article.author }}</a>
               {{ article.created_time }}
           </p>
            <div>
            {{ article.text | safe }}
            </div>
            {% if article.image %}
                <img src="{{ article.image.url }}" alt="{{ article }}" title="{{ article }}"/>
            {% endif %}
            {% if article.author.id == user.id %}
                <div>
                <a href="/articles/edit/{{ article.id }}">编辑文章</a>
                <a href="/articles/delete/{{ article.id }}">删除</a>
                </div>
            {% endif %}
        </div>
    </div>

    <!--文章评论-->
    <div class="comment-box">
    <h4>评论区</h4>
    {% if comments|length == 0%}
        <p>暂时没有评论哦,赶紧添加吧～</p>
    {% else %}
    {% for comment in comments %}
        <hr/>
        <div id="comment_{{ comment.id }}">
       <!-- <p>#{{ forloop.counter }}</p> -->
            <p><a href="/accounts/info/{{ comment.author.id }}">{{ comment.author }}</a>
        {{ comment.comment_time }}</p>
        <div>{{ comment.content | safe}}</div>

        {% if user.id == article.author.id or user.id == comment.author.id %}
            <div>
            <a href="/comments/edit/{{ comment.id }}">编辑评论</a>
            <a href="/comments/delete/{{ comment.id }}">删除</a>
            </div>
        {% endif %}
        </div>
    {% endfor %}
    {% endif %}
    </div>

    <div>
    {% if user.is_authenticated %}

        <form class="comment-add" action="/comments/add/{{ article.id }}/" method="POST">
            {% csrf_token %}
            <label for="content">添加评论：</label>
            <textarea rows="6" name="content" placeholder="请在此输入评论"></textarea>
            <input type="submit" name="submit" value="提交" class="btn btn-default"/>
        </form>
    {% else %}
        <p>登录才可以评论哦</p>
    {% endif %}
    </div>


 <script type="text/javascript">
  if(document.getElementById("comment_box").clientHeight>400)
  {
      document.getElementById("comment_box").style.height="400px";
      document.getElementById("comment_box").style.overflowY="scroll";
  }
 </script>

{% endblock %}