{% extends "misslove/base.html" %}
{% load staticfiles %}

{% block title %}首页{% endblock %}

{% block slide %}

<div id="myCarousel" class="carousel slide hp-slide">
   <!-- 轮播（Carousel）指标 -->
   <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
   </ol>
   <!-- 轮播（Carousel）项目 -->
   <div class="carousel-inner">
      <div class="item active">

         <img src="/static/misslove/img/hp1.jpg" alt="First slide">
           <div class="carousel-caption">
        <p>世界上最远的距离，不是生与死的距离,而是我站在你面前，你不知道我爱你;</p>
　　    <p>世界上最远的距离，不是我站在你面前，你不知道我爱你，而是爱到痴迷却不能说我爱你；</p>
               <p>世界上最远的距离，不是我不能说我爱你，而是想你痛彻心脾，却只能深埋心底；</p>
　　<p>世界上最远的距离，不是我不能说我想你，而是彼此相爱，却不能够在一起；</p>
               <p>--泰戈尔 《世界上最遥远的距离》</p>

      </div>
      </div>
      <div class="item">
         <img src="/static/misslove/img/hp2.jpg" alt="Second slide">
          <div class="carousel-caption">
            <p>我如果爱你——</p>
　　<p>绝不像攀援的凌霄花，借你的高枝来炫耀自己</p>
　　<p>我如果爱你——</p>
　　<p>绝不学痴情的鸟儿，为绿荫重复单调的歌曲</p>
　　<p>也不止像泉源，长年送来清凉的慰藉</p>
　　<p>也不止像险峰，增加你的高度，衬托你的威仪</p>
              <p>--舒婷 《致橡树》</p>
          </div>
      </div>
      <div class="item">
         <img src="/static/misslove/img/hp3.jpg" alt="Third slide">
          <div class="carousel-caption">
          <p>你见，或者不见我</p>
　　<p>我就在那里,不悲不喜</p>
　　<p>你念，或者不念我</p>
　　<p>情就在那里,不来不去</p>
　　<p>你爱，或者不爱我</p>
　　<p>爱就在那里,不增不减</p>
          <p>--扎西拉姆·多多 《班扎古鲁白玛的沉默》</p>
              </div>
      </div>
      <div class="item">
          <img src="/static/misslove/img/hp4.jpg" alt="Forth slide"/>
          <div class="carousel-caption">
              　<p>当你老了，头发白了，睡思昏沉,</br>炉火旁打盹，请取下这部诗歌</p>
　　<p>慢慢读，回想你过去眼神的柔和,</br>回想它们昔日浓重的阴影</p>
　　<p>多少人爱你青春欢畅的时辰,</br>爱慕你的美丽，假意和真心</p>
　　<p>只有一个人爱你朝圣者的灵魂,</br>爱你衰老了的脸上痛苦的皱纹</p>
　　<p>垂下头来，在红火闪耀的炉子旁,</br>凄然地轻轻诉说那爱情的消逝</p>
　　<p>在头顶上的山上它缓缓地踱着步子,</br>在一群星星中间隐藏着脸庞</p>
              <p>--叶芝 《当你老了》</p>
          </div>
      </div>
   </div>
   <!-- 轮播（Carousel）导航 -->
   <a class="carousel-control left" href="#myCarousel"
      data-slide="prev">&lsaquo;</a>
   <a class="carousel-control right" href="#myCarousel"
      data-slide="next">&rsaquo;</a>
</div>
{% endblock %}


{% block content %}

    <div class="row" id="hp-container">
        <div class="col-md-3">
            <div>
            <img src="{%static 'misslove/img/block.png' %}"  class="gray"/>
            <a href="/articles/catalog/1">失恋</a>
                <p>LIFE IF SHORT, PLAY MORE</p>
            </div>
        </div>
        <div class="col-md-3">
            <div>
            <img src="{%static 'misslove/img/block.png' %}" class="gray"/>
            <a href="/articles/catalog/2">暗恋</a>
                <p>LIFE IF SHORT, PLAY MORE</p>
            </div>
        </div>
        <div class="col-md-3">
            <div>
            <img src="{%static 'misslove/img/block.png' %}"  class="gray"/>
            <a href="/articles/catalog/3">异地恋</a>
                <p>LIFE IF SHORT, PLAY MORE</p>
            </div>
        </div>
        <div class="col-md-3">
            <div>
            <img src="{%static 'misslove/img/block.png' %}" class="gray"/>
            <a href="/articles/catalog/4">爱恋</a>
                <p>LIFE IF SHORT, PLAY MORE</p>
            </div>
        </div>
    </div>

    <hr/>

    <div>
        MISSLOVE(艺术字)
    </div>

    <hr/>

    <div class="row misslove-pie-chart">
        <div id="article-type-pie" class="col-md-6"></div>
        <div id="user-type-pie" class="col-md-6"></div>
    </div>


{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{% static 'misslove/js/highcharts.js' %}"></script>
    <script type="text/javascript">
$(function () {
    $('#article-type-pie').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: '各板块类型占有比例'
        },
        credits: {
            enabled: false
        },
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            type: 'pie',
            name: '板块占有',
            data: [
                ['失恋',   {{ article_data.0 }}],
                ['暗恋',   {{ article_data.1 }}],
                {
                    name: '异地恋',
                    y: {{ article_data.2 }},
                    sliced: true,
                    selected: true
                },
                ['爱恋',    {{ article_data.3 }}]
            ]
        }]
    });

    $('#user-type-pie').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: '各用户类型占有比例'
        },
        credits: {
            enabled: false
        },
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            type: 'pie',
            name: '用户占有',
            data: [
                {
                    name: '失恋',
                    y: {{ user_data.0 }},
                    sliced: true,
                    selected: true
                },
                ['暗恋',    {{ user_data.1 }}],
                ['异地恋',     {{ user_data.2 }}],
                ['爱恋',   {{ user_data.3 }}]
            ]
        }]
    });
});
    </script>
{% endblock %}