{% extends "misslove/base.html" %}

{% block title %}首页{% endblock %}

{% block content %}


    <div>
    <p class="index">Whisper you love stories here</p>
    </div>

<div id="myCarousel" class="carousel slide">
   <!-- 轮播（Carousel）指标 -->
   <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
   </ol>
   <!-- 轮播（Carousel）项目 -->
   <div class="carousel-inner">
      <div class="item active">
         <img src="/static/misslove/img/hp1.jpg" alt="First slide">
      </div>
      <div class="item">
         <img src="/static/misslove/img/hp2.jpg" alt="Second slide">
      </div>
      <div class="item">
         <img src="/static/misslove/img/hp3.jpg" alt="Third slide">
      </div>
      <div class="item">
          <img src="/static/misslove/img/hp4.jpg" alt="Forth slide"/>
      </div>
   </div>
   <!-- 轮播（Carousel）导航 -->
   <a class="carousel-control left" href="#myCarousel"
      data-slide="prev">&lsaquo;</a>
   <a class="carousel-control right" href="#myCarousel"
      data-slide="next">&rsaquo;</a>
</div>


<div>
   <!--
   <div>
        <a href="{% url 'new_article' %}">New Article</a>
    </div>
    -->
    <!--
    <div>
        <a href="/articles/catalog/1">失恋</a>
        <a href="/articles/catalog/2">暗恋</a>
        <a href="/articles/catalog/3">异地恋</a>
        <a href="/articles/catalog/4">爱恋</a>
    </div>
    -->
</div>

{% endblock %}