{% extends 'misslove/base.html' %}

{% block title %}编辑个人资料{% endblock %}

{% block content %}
    <div class="info-edit">

     <h3>编辑个人信息</h3>
    <form enctype="multipart/form-data" method="POST" role="form">
		{% csrf_token %}

             <div class="form-group">
            <label for="id_username">用户名:</label>
            <input id="id_username" maxlength="30" name="username" type="text" value="{{ current_user }}" class="form-control"/>
            <span class="helptext help-block">必填。不多于30个字符。只能用字母、数字和字符 @/./+/-/_ 。</span>
            </div>


        <div class="form-group">
            <label for="id_email">电子邮件地址:</label>
            <input id="id_email" maxlength="254" name="email" type="email" value="{{ current_user.email }}" class="form-control"/>
        </div>


        <div class="form-group">
            <label for="id_gender">性别:</label>
            <select id="id_gender" name="gender" class="form-control">
                {% for sex in current_user.sex_choice %}
                    <option value="{{ sex.0 }}" {% if sex.0 == current_user.gender %}selected{% endif %}>
                    {{ sex.1 }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="id_status">恋爱状态:</label>
            <select id="id_status" name="status" class="form-control">
                {% for lstatus in current_user.love_status %}
                    <option value="{{ lstatus.0 }}" {% if lstatus.0 == current_user.status %}selected{% endif %}>
                    {{ lstatus.1 }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="id_whats_up">个性签名:</label>
            <input id="id_whats_up" maxlength="50" name="whats_up" type="text" value="{{ current_user.whats_up }}" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="id_avatar">当前头像:</label>
             <img class="avatar-edit" src="{{ current_user.get_avatar }}"/>
        {% ifnotequal current_user.get_avatar '/media/images/useravatar/default_avatar.jpg' %}
            <input id="avatar-clear_id" name="avatar-clear" type="checkbox" />
            <label for="avatar-clear_id">删除头像</label><br />
        {% endifnotequal %}
        </div>
        <div class="form-group">
                <label for="id_avatar">修改头像:</label>
             <input id="id_avatar" name="avatar" type="file" />

        </div>
		<button type="submit" class="btn btn-default">Save</button>



	</form>

    </div>

{% endblock %}


<!--


<table class="table">
  ...
</table>

-->