{% extends "misslove/base.html" %}
{% load staticfiles %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'misslove/css/login/supersized.css' %}"/>
    <link rel="stylesheet" href="{% static 'misslove/css/login/style.css' %}"/>
{% endblock %}

{% block title %}登录{% endblock %}

{% block content %}
<div class="page-container no-js">

    <h1>登录</h1>

    <form method="post" action="{% url 'misslove.views.users.user_login' %}" role="form">
    {% csrf_token %}
        <div class="form-group">
        <input type="text" name="username" class="form-control" placeholder="用户名" />
        <input type="password" name="password" class="form-control" placeholder="密码" />
        <button type="submit">登录</button>
        <input type="hidden" name="next" value="/" />
        </div>
    </form>

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="loginerror">{{ error }}</p>
        {% endfor %}
    {% endif %}


</div>
{% endblock %}

{% block extrajs %}
    <script src="{% static 'misslove/js/login/jquery-1.8.2.min.js' %}"></script>
    <script src="{% static 'misslove/js/login/supersized.3.2.7.min.js' %}"></script>
    <script src="{% static 'misslove/js/login/supersized-init.js' %}"></script>
{% endblock %}