{% extends 'misslove/base.html' %}

{% block title %}{{ current_user.username }}的信息{% endblock %}

{% block content %}

    <div>
    {% ifequal current_user.id user.id %}
        <a href="/accounts/edit/{{ current_user.id }}">编辑</a>
    {% endifequal %}
    </div>

    <div>
    <p>姓名: {{ current_user.username }}</p>
    <p>性别: {{ current_user.get_gender_display }}</p>
    <p>邮箱: {{ current_user.email }}</p>
    <p>个性签名: {{ current_user.whats_up }}</p>
    </div>

    <div>
    <p><h2>已发表文章（共{{ user_articles | length }}篇）</h2></p>
    {% ifequal user_articles|length 0 %}
        <P>对不起，你还没有发表过任何文章哦</P>
    {% else %}
        <ul>
        {% for user_article in user_articles %}
            <li>
            <a href="/articles/detail/{{ user_article.id }}">{{ user_article }}</a>&nbsp;&nbsp;
                {% ifequal current_user.id user.id %}
                <a href="/articles/delete/{{ user_article.id }}">删除</a>
                {% endifequal %}
            </li>
        {% endfor %}
        </ul>
    {% endifequal %}
    </div>

    <div>
    <p><h2>已发表评论（共{{ user_comments|length }}条）</h2></p>
    {% ifequal user_comments|length 0 %}
        <P>对不起，你还没有发表过任何评论哦</P>
    {% else %}
        <ul>
        {% for user_comment in user_comments %}
            <li>
               <a href="/articles/detail/{{ user_comment.article.id }}/#comment_{{ user_comment.id }}">
                   {{ user_comment.article.title }}</a>&nbsp;&nbsp;
                {% if current_user.id == user.id or user.id == comment.article.author.id %}
                <a href="/comments/delete/{{ user_comment.id }}">删除</a>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endifequal %}
    </div>

    <div id="change_passwd">
    <a href="/accounts/changepasswd/{{ current_user.id }}">修改密码</a>
    </div>

{% endblock %}