{% extends 'misslove/base.html' %}
{% load staticfiles %}

{% block title %}{{ current_user.username }}的信息{% endblock %}

{% block extracss %}
<style type="text/css">

</style>
{% endblock %}

{% block content %}

<div class="row no-js">

    <div id="user-info-top">
        <img src="{% static 'misslove/img/userInfo.jpg'%}" id="user-info-bg">
        <div id = "user-info-detail">
            <img src="{{ current_user.get_avatar }}" alt="{{ current_user.username }}"
                 title="{{ current_user.username }}" class="img-thumbnail img-circle avatar"/>
            <p id="user-info-username">{{ current_user.username }}</p>
            <p id="whats_up">{{ current_user.whats_up }}</p>
            <p><span class="glyphicon glyphicon-user"></span>&nbsp;<span id="userInfo-gender">{{ current_user.get_gender_display }}</span>
            &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-envelope"></span>&nbsp;<span id="userInfo-email">{{ current_user.email }}</span></p>
        </div>
        <div id = "user-info-edit-link">
            {% ifequal current_user.id user.id %}
                <a href="/accounts/edit/{{ current_user.id }}" class="btn btn-default">编辑资料</a>
              <a href="/accounts/changepasswd/{{ current_user.id }}" class="btn btn-default">修改密码</a>
            {% endifequal %}
        </div>
    </div>

    <div id="tabs">

        <ul class="menu0" id="menu0">
            <li onclick="setTab(0,0)" class="hover">文章（共{{ user_articles | length }}篇）</li>
            <li onclick="setTab(0,1)">评论（共{{ user_comments|length }}条）</li>
        </ul>

        <div class="main" id="main0">

        <div class="block">

        {% ifequal user_articles|length 0 %}
            <P>对不起，你还没有发表过任何文章哦</P>
        {% else %}
            <ul class="list-group">
            {% for user_article in user_articles %}
                <li class="list-group-item">
                <a href="/articles/detail/{{ user_article.id }}">{{ user_article }}</a>&nbsp;&nbsp;
                    {% ifequal current_user.id user.id %}
                    <a href="/articles/delete/{{ user_article.id }}" class="badge"><span class="glyphicon glyphicon-remove"></span></a>
                    {% endifequal %}
                </li>
            {% endfor %}
            </ul>
        {% endifequal %}
        </div>

        <div>
        {% ifequal user_comments|length 0 %}
            <P>对不起，你还没有发表过任何评论哦</P>
        {% else %}
            <ul class="list-group">
            {% for user_comment in user_comments %}
                <li class="list-group-item">
                   <a href="/articles/detail/{{ user_comment.article.id }}/#comment_{{ user_comment.id }}">
                       {{ user_comment.article.title }}</a>&nbsp;&nbsp;
                    {% if current_user.id == user.id or user.id == comment.article.author.id %}
                    <a href="/comments/delete/{{ user_comment.id }}" class="badge"><span class="glyphicon glyphicon-remove"></span></a>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% endifequal %}
        </div>

        </div>

    </div>

</div>
{% endblock %}


{% block extrajs %}
    <script>
    function setTab(m,n){
    var tli=document.getElementById("menu"+m).getElementsByTagName("li");
    var mli=document.getElementById("main"+m).getElementsByTagName("div");
    for(i=0;i<tli.length;i++){
    tli[i].className=i==n?"hover":"";
    mli[i].style.display=i==n?"block":"none";
    }
    }
    </script>
{% endblock %}

